<h1>Articles:</h1>

<div id='actions'>
	<button class="new-button">Write New</button>
</div>

<div id='titles'>

	{{#each articles}}
	  <button class="title-button">{{title}}</button></br>
	{{/each}}

	<button class="title-button">Pretend Title 1</button>
	<button class="title-button">Pretend Title 2</button>
	<button class="title-button">Pretend Title 3</button>
	<button class="title-button">Pretend Title 4</button>

</div>
