<h1>Articles:</h1>

{{#each articles}}
  <button>{{title}}</button></br>
{{/each}}

<button>Pretend Title 1</button></br>
<button>Pretend Title 2</button></br>
<button>Pretend Title 3</button></br>
<button>Pretend Title 4</button></br>
