<sidebar-fixed></sidebar-fixed>

<div class="scrollable" id="article-list">
{{#each articles}}
	<a class="waves-effect waves-button full-width title-button" href="#article/{{title}}">{{title}}</a>
	<hr class="h-line"></hr>
{{/each}}
</div>

<script src="/tags/sidebar-fixed.tag" type="riot/tag"></script>