/* Page Styles */
body {
	height: 100%;
}

/* Class Styles */
.full-width { width: 100%; }
.full-height { height: 100%; }
.right { text-align: right;}
.center { text-align: center; }
.md-padding { padding: 1em; }
.h-line { width: 95%; margin-top: 0; margin-bottom: 0; }
.title-button { display: block; }
.scrollable { overflow-y: scroll; }


/* ID Styles */
#sidebar {
	position: absolute;
	background-color: #ccc;
	width: 20%;
	top: 0;
	bottom: 0;
}

#page {
	height: 100%;
	margin-left: 20%;
}

#article-list {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-color: #eee;
	border-width: .2em;
	margin-top: 2em;
}