#page {
	overflow: none;
	height: 100%;
	margin-left: 20%;
}

body {
	height: 100%;
}

.title-button {
	display: block;
	margin: 2px 5px 0 5px;
	width: 90%;
}

#sidebar {
    background: #ccc;
	position: absolute;
    width: 20%;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

#titles {
	/*height: 60px;*/
	overflow-y: scroll;
}

h1 {
	text-align: center;
/*	height: 800px;*/
}