/* Page Styles */
body {
	height: 100%;
}

h1 {
	text-align: center;
}

/* Class Styles */
.full-width { width: 100%; }
.full-height { height: 100%; }
.right { text-align: right;}
.md-padding { padding: 1em; }

.title-button {
	display: block;
	margin: 2px 5px 0 5px;
	width: 90%;
}

/* ID Styles */
#sidebar {
    background: #ccc;
	position: absolute;
    width: 20%;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

#titles {
	/*height: 60px;*/
	overflow-y: scroll;
}

#page {
	overflow: none;
	height: 100%;
	margin-left: 20%;
}