<style>
	div#content {
		background-color: #DDD;
		width: 100%;
		height: 100%;
	}
</style>

<div id='content'>
	I am a page. Allison, ignore the slight grey on the page area: it will go away. Its just to help you place the sidebar correctly.
</div>